.about-company {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 100px;
}

.about-company__container {
  width: 64%;
  max-width: 1222px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 auto;
}

.about-company__img {
  margin-right: 90px;
}
