.about-company {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 100px;
}

.about-company__container {
  width: 64%;
  max-width: 1222px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: $vp-770) {
    max-width: 670px;
  }
}

.about-company__img {
  margin-right: 90px;

  @media (max-width: $vp-770) {
    margin-right: 30px;
    margin-bottom: 70px;
  }

  @media (max-width: $vp-320) {
    display: none;
  }
}
