.agreement {
  width: 50%;
  position: relative;
  text-align: left;
  padding-left: 25px;

  @media (max-width: $vp-320) {
    width: 85%;
  }

  &--modal {
    width: 100%;
  }
}

.agreement__info {
  width: 260px;
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;

  &::before {
    content: "";
    display: block;
    width: 14px;
    height: 13px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    background-color: transparent;
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    display: block;
    width: 13px;
    height: 13px;

    background-image: url("../img/svg/checked.svg");
    background-position: center;
    background-repeat:  no-repeat;
    background-size: 10px 10px;
    opacity: 0;

    position: absolute;
    top: 22px;
    left: 0;
    z-index: 2;
  }
}

.agreement__input {
  appearance: none;
  position: absolute;
}

.agreement__input:checked + .agreement__info::after {
  opacity: 1;
}
