.benefits__container {
  width: 65%;
  max-width: 1222px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 120px;

  @media (max-width: $vp-770) {
    max-width: 670px;
    width: 87%;
  }

  @media (max-width: $vp-320) {
    max-width: 320px;
    width: 85%;
    margin-top: 50px;
  }

}

.benefits__item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-320) {
    grid-template-columns: 270px;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }
}
