.comment {
  width: 580px;
  border: none;
  margin: 0;
  padding: 0;

  @media (max-width: $vp-320) {
    width: 85%;
    margin: 0 auto;
  }

  &--modal {
    width: 100%;
  }
}

.comment__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (max-width: $vp-320) {
    flex-direction: column;
    width: 100%;
  }

  &--modal {
    flex-direction: column;
    width: 100%;
  }
}

.comment__name {
  @media (max-width: $vp-320) {
    margin-bottom: 20px;
  }

  &--modal {
    padding-bottom: 20px;
  }
}

.comment__name-input {
  width: 275px;
  height: 50px;
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
    padding-left: 15px;
  }

  @media (max-width: $vp-320) {
    width: 270px;
  }

  &--modal {
    width: 100%;
  }
}

.comment__inform-input {
  width: 275px;
  height: 50px;
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;

  &::placeholder {
    color: $color-default-white;
    padding-left: 15px;
  }

  @media (max-width: $vp-320) {
    width: 270px;
  }

  &--modal {
    width: 100%;
  }
}

.comment__placeholder {
  width: 580px;
  height: 155px;
  border: none;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  padding-top: 20px;

  &::placeholder {
    color: $color-default-white;
    padding-left: 15px;
  }

  @media (max-width: $vp-320) {
    width: 270px;
  }

  &--modal {
    width: 100%;
  }
}

.comment__button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;

  @media (max-width: $vp-320) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;
  }
}

.comment__button {
  width: 265px;
  height: 45px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border: none;
  background-color: $color-background-header;

  @media (max-width: $vp-320) {
    margin-bottom: 20px;
  }

  &--modal {
    width: 100%;
  }
}
