.footer {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  background-color: $color-background-header;
  display: flex;
  padding-top: 63px;

  @media (max-width: $vp-770) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: $vp-320) {
    padding-top: 0;
    height: auto;
    padding: 40px 0;
  }
}

.footer__container {
  width: 1210px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: $vp-770) {
    flex-direction: column;
  }
}

.footer__container-logo-footer {
  @media (max-width: $vp-770) {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  @media (max-width: $vp-320) {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

.footer__container-desktop {
  display: flex;
  flex-direction: row;
  width: 68%;

  @media (max-width: $vp-770) {
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: $vp-320) {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
}

.footer__container-sections,
.footer__container-contacts {
  width: 50%;

  @media (max-width: $vp-320) {
    width: 100%;
    padding-left: 40px;
    border-top: 1px solid $color-default-white;
  }
}

.footer__container-contacts {
  @media (max-width: $vp-320) {
    border-bottom: 1px solid $color-default-white;
  }
}

.footer__block-group {
  display: flex;
  flex-direction: row;
}

.footer__header {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;

  @media (max-width: $vp-320) {
    padding-top: 20px;
  }
}

.footer__list {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 145px;
  width: 220px;

  @media (max-width: $vp-770) {
    height: auto;
    width: 80%;
    flex-wrap: nowrap;
  }

  @media (max-width: $vp-320) {
    padding-bottom: 20px;
  }
}

.footer__list li {
  @media (max-width: $vp-770) {
    padding-bottom: 5px;
  }

  @media (max-width: $vp-320) {
    padding-bottom: 0;
  }
}

// accordeon

.accordeon {
  max-width: 320px;
}

.accordeon .footer__container-sections {
  position: relative;

}

.accordeon .footer__container-sections .label {
  position: relative;
  cursor: pointer;
}

.accordeon .accordeon-item__trigger::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  // transform: translateX(-50%);
  font-size: 1.5em;
}

.accordeon-item__content {
  display: none;
  text-align: left;
}

.accordeon__item--active .accordeon-item__content {
  display: block;
}

.accordeon__item--active .accordeon-item__trigger::before {
  content: '-';
  top: 11%;
  font-size: 2em;
}
