.intro {
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: initial;
  margin: 0 475px;
  padding-top: 200px;

  @media (max-width: $vp-770) {
    width: 83%;
    margin: 0 auto;
    padding-top: 80px;
  }
}

.intro__intro {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  margin: 0;

  @media (max-width: $vp-770) {
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.07em;
  }

  @media (max-width: $vp-320) {
    font-size: 36px;
    line-height: 42px;
  }
}

.intro__description {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $color-grey-white;
  margin: 0;

  @media (max-width: $vp-320) {
    font-size: 14px;
    line-height: 22px;
  }
}

.intro__button-mobile {
  display: none;

  @media (max-width: $vp-320) {
    display: block;
    background-color: $color-default-blue;
    color: $color-grey-white;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 50px;
  }
}

.intro__button {
  background-color: $color-default-blue;
  color: $color-grey-white;
  padding: 15px 25px;
  border: none;
  font-size: 18px;
  line-height: 21px;

  @media (max-width: $vp-770) {
    margin-left: 45px;
    margin-top: 50px;
  }

  @media (max-width: $vp-320) {
    display: none;
  }
}
