.item {
  width: 100%;

  height: 100%;
  padding: 30px;
  text-align: initial;
  border: 1px solid $color-grey-border;
  border-left: 5px solid $color-default-blue;

  transition: 0.5s;
}

.item__intro {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $color-default-blue;
}

.item__info {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: $color-background-header;
}

.item:hover {
  transition: 0.5s;
  background-color: $color-default-blue;
  border-color: $color-default-blue;

  h3 {
    color: $color-default-white;
  }

  p {
    color: $color-default-white;
  }

  path {
    fill: $color-default-white;
  }
}
