.list {
  max-width: 1222px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 650px;
  grid-column-gap: 85px;
  grid-row-gap: 0px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 140px;

  @media (max-width: $vp-770) {
    max-width: 670px;
    width: 87%;
    grid-template-columns: 670px;
    grid-template-rows: repeat(3, 250px);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }

  @media (max-width: $vp-320) {
    grid-template-columns: 270px;
    grid-template-rows: repeat(3, 250px);
  }
}

.list__wrapper {
  display: block;
  position: relative;

  &--first {
    background-image: url(../img/servises-1-desktop.png);
  }

  &--second {
    background-image: url(../img/servises-2-desktop.png);
  }

  &--third {
    background-image: url(../img/servises-3-desktop.png);
  }

  @media (max-width: $vp-770) {
    &--first {
      background-image: url(../img/servises-1-tablet.png);
    }

    &--second {
      background-image: url(../img/servises-2-tablet.png);
    }

    &--third {
      background-image: url(../img/servises-3-tablet.png);
    }
  }

  @media (max-width: $vp-320) {
    &--first {
      background-image: url(../img/servises-1-mobile.png);
    }

    &--second {
      background-image: url(../img/servises-2-mobile.png);
    }

    &--third {
      background-image: url(../img/servises-3-mobile.png);
    }
  }
}

.list__name {
  width: 170px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
}

.list__mark {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 289px;
  top: 590px;
  background-color: $color-default-blue;
  background-image: url("../img/svg/vector.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $vp-770) {
    left: 610px;
    top: 190px;
  }

  @media (max-width: $vp-320) {
    width: 40px;
    height: 40px;
    left: 230.32px;
    top: 209.54px;
  }
}
