.main-nav {
  width: 100%;
  margin: 0 auto;
  height: 120px;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 57%;
  margin: 0 auto;
  height: 55px;
  padding-top: 48px;

  @media (min-width: $vp-770) {
    width: 83%;
  }

  @media (max-width: $vp-320) {
    padding-top: 50px;
  }
}

.main-nav__button {
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  padding: 10px 15px;

  @media (max-width: $vp-770) {
    display: none;
  }
}

.main-nav__tel,
.main-nav__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.main-nav__mail {
  @media (max-width: $vp-770) {
    padding-left: 335px;
  }

  @media (max-width: $vp-320) {
    padding-left: 35px;
  }
}

.main-nav__tel-info,
.main-nav__mail-info {
  font-family: 'PT Mono';
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-left: 15px;

  @media (max-width: $vp-770) {
    display: none;
  }
}
