.main-nav {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 120px;
  // background-color: $color-default-black;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  height: 55px;
  padding-top: 48px;
}

.main-nav__button {
  color: $color-default-white;
  background-color: transparent;
  border: 1px solid $color-default-white;
  padding: 10px 15px;
}

.main-nav__tel,
.main-nav__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.main-nav__tel-info,
.main-nav__mail-info {
  font-family: 'PT Mono';
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding-left: 15px;
}
