.modal {
  position: fixed;
  background-color: rgba(3, 16, 27, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  // display: flex;
  cursor: pointer;
  padding: 50px;
  overflow-y: auto;
}

.modal__wrapper {
  position: relative;
  height: 620px;
  width: 500px;
  background-color: $color-default-blue;
  margin: auto;
  padding: 30px;
  cursor: default;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 3px;
  padding: 0;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
}

.modal__close:focus-visible {
  outline: $color-default-white;
}

.modal__title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
}

.modal__description {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
